<article class="mx-auto">
  <div
    class="card text-black bg-gray-50 p-4 rounded-lg opacity-80 m-5"
    style="max-width: 18rem"
  >
    <div class="card-header">
      <h2 class="font-medium text-2xl">Kabul, Afghanistan</h2>
    </div>
    <div class="pt-5">
      <p class="text-sm font-medium">
        Today: {{ currentDate | date : "MMM d h:mm" }}
      </p>
      <p class="text-7xl text-blue-950 font-bold">
        {{ temperture | number : "1.0-0" }} °C
      </p>
      <div class="flex">
        <p class="text-sm mr-6">↑ {{ maxTemp | number : "1.0-0" }}</p>
        <p class="text-sm">↓ {{ minTemp | number : "1.0-0" }}</p>
      </div>
    </div>
    <div
      class="bg-gray-200 rounded-md py-3 mt-10 border border-opacity-10 border-blue-950"
    >
      <div class="flex items-center justify-center gap-5">
        <p class="text-sm text-center font-medium">
          Feels: <br />
          {{ feelsLike | number : "1.0-0" }} °C
        </p>
        <p class="text-sm text-center font-medium">
          Wind: <br />
          {{ windSpeed | number : "1.0-0" }} km/h
        </p>
        <p class="text-sm text-center font-medium">
          Humidity: <br />
          {{ humidity }} %
        </p>
      </div>
    </div>
  </div>
</article>
