<main>
  <div class="bg">
    <div
      class="z-20 relative text-white text-center pt-20 md:pt-40 mx-4 animate-[slideUp_2s_ease-out]"
    >
      <h1 class="text-5xl mb-5 font-bold">
        Welcome <span class="text-[#1b1363] font-semibold">Acted </span>
      </h1>
      <p class="text-lg lg:text-2xl">
        Please click on the button below to get the weather in your location.
      </p>
    </div>
    <div
      class="absolute bottom-0 z-20 left-0 right-0 md:bottom-10 text-center mb-10 lg:bottom-52 animate-[slideUp_1s_ease-out]"
    >
      <button
        class="bg-[#1b1363] hover:bg-[#141036] text-lg lg:text-2xl font-medium md:text-xl text-white py-2 px-4 lg:px-6 lg:py-4 rounded-lg cursor-pointer transition duration-300"
      >
        Get Weather
      </button>
    </div>
    <app-weather></app-weather>
  </div>
</main>
